<nav class="navbar navbar-expand-lg navbar-light rounded">
  <ul class="navbar-nav">
    <a class="navbar-brand" routerLink="/home">Cassandre Henriquez</a>
    <li class="nav-item"><a class="nav-link" routerLink="/home">Home</a></li>
    <li class="nav-item"><a class="nav-link"routerLink="/resume">Resume</a></li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="javascript://" id="navbardrop" data-toggle="lifeStyle-dropdown">Lifestyle</a>
      <div class="dropdown-menu" aria-labelledby="lifeStyle-dropdown">
          <a class="dropdown-item" href="#">Living my Best Life</a>
          <a class="dropdown-item" href="#">Hair</a>
          <a class="dropdown-item" href="#">Heritage</a>
      </div>
  </ul>
</nav>
<div class="hero-section">
  
  <div class="title-section">
    <h3>Hi there, I'm</h3>
    <span class="fast-flicker">C</span><span>ASSANDRE HENR</span><span class="flicker">I</span><span>QUEZ</span> 
  </div>
</div>