.navbar {
  box-shadow: -2px 2px 20px 5px #22c0e8;
  font-family: "Courier New";
  color: #22c0e8;
}
.hero-section {
    height: 450px;
    text-align: center;
    background-color: black;
      .title-section {
        h3 {
            color: white;
            text-shadow: none;
            margin-bottom: 40px;
        }
        position: relative;
        top: 35%;
        font-family: "Courier New";
        text-transform: uppercase;
        font-size: 4em;
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
          -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
          0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
        animation: shine 2s forwards, flicker 3s 5;
      }
      .flicker {
        animation: shine-color 2s forwards, shine 2s forwards,  blink-color 10s 1s infinite, blink 3s 2s infinite;
      }
      
      .fast-flicker {
        animation: shine-color 2s forwards, shine 2s forwards,  blink-color 10s 1s infinite, blink 10s 1s infinite;
      }
      .bi-chevron-double-down {
        height: 3rem;
        width: 3rem;
        color: #ff65bd;
        -webkit-animation: moverY 1s infinite  alternate;
        animation: moverY 1s infinite  alternate;
      }

      @-webkit-keyframes moverY {
          0% { transform: translateY(0); }
          100% { transform: translateY(-10px); }
      }
      @keyframes moverY {
          0% { transform: translateY(0); }
          100% { transform: translateY(-10px); }
      }
      @keyframes blink-color {
        0%,
        22%,
        36%,
        75% {
          color: #ffe6ff;
        }
        28%,
        33% {
          color: #ff65bd;
        }
        82%,
        97% {
          color: #ff2483;
        }
      } 
      @keyframes blink {
        0%,
        75% {
          text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
            -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
            0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
        }
        97% {
          text-shadow: none;
        }
      }
      @keyframes shine-color {
        0% {
          color: #6b1839;
        }
        100% {
          color: #ffe6ff;
        }
      }
      @keyframes shine {
        0% {
          text-shadow: none;
        }
        100% {
          text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
            -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
            0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
        }
      }
      
      @keyframes flicker {
        from {
          opacity: 1;
        }
      
        4% {
          opacity: 0.9;
        }
      
        6% {
          opacity: 0.85;
        }
      
        8% {
          opacity: 0.95;
        }
      
        10% {
          opacity: 0.9;
        }
      
        11% {
          opacity: 0.922;
        }
      
        12% {
          opacity: 0.9;
        }
      
        14% {
          opacity: 0.95;
        }
      
        16% {
          opacity: 0.98;
        }
      
        17% {
          opacity: 0.9;
        }
      
        19% {
          opacity: 0.93;
        }
      
        20% {
          opacity: 0.99;
        }
      
        24% {
          opacity: 1;
        }
      
        26% {
          opacity: 0.94;
        }
      
        28% {
          opacity: 0.98;
        }
      
        37% {
          opacity: 0.93;
        }
      
        38% {
          opacity: 0.5;
        }
      
        39% {
          opacity: 0.96;
        }
      
        42% {
          opacity: 1;
        }
      
        44% {
          opacity: 0.97;
        }
      
        46% {
          opacity: 0.94;
        }
      
        56% {
          opacity: 0.9;
        }
      
        58% {
          opacity: 0.9;
        }
      
        60% {
          opacity: 0.99;
        }
      
        68% {
          opacity: 1;
        }
      
        70% {
          opacity: 0.9;
        }
      
        72% {
          opacity: 0.95;
        }
      
        93% {
          opacity: 0.93;
        }
      
        95% {
          opacity: 0.95;
        }
      
        97% {
          opacity: 0.93;
        }
      
        to {
          opacity: 1;
        }
      }
    }
    @media screen and (max-width: 767px) {
      .hero-section {
        height: 475px;
        .title-section {
          top: 25%;
        }
      }
    }