.container {
    /* background-color: #ebebeb; */
    margin-bottom: 19px;
}
table {
    width: 1000px;
    margin-left: 40px;
    text-align: center;
    border: 1px solid gray;
}
tbody {
    border: 1px solid gray;
    font-weight: 300;
}
tbody td {
    border-right: 1px solid gray;
}