.row {
    // background-color: #d4e4e4;
    background-image: linear-gradient(to bottom, #e6f3f3, #b3d8d8);
    padding: 20px 5.5%;
}
.sub-title {
    color: #22c0e8;
}
hr {
    border-color: #22c0e8;
}
#table-content {
    padding: 0px 15px;
    width: 100%;
    .col-sm-12 {
        border: 1px solid gray;
        border-radius: 5%;
        padding: 10px 10px;
        margin-right: 5px;
        margin-bottom: 5px;
        h5 {
            border-bottom: 1px solid gray;
        }
    }
}