
#skills-wrapper {
    padding-top: 10px;
    padding-bottom: 20px;
    h5 {
        color: #22c0e8;
    }
    .white-text {
        color: white
    }
}
.sub-title {
    // color: #22c0e8;
}
hr {
    margin-bottom: 40px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
#table-content {
    padding: 0px 15px;
    width: 100%;
    .col-sm-12 {
        text-align: center;
        // border: 1px solid gray;
        border-radius: 5%;
        padding: 10px 10px;
        margin-right: 5px;
        margin-bottom: 5px;
        span {
            display: inline-block; 
            margin-right: 35px;
            margin-left: 35px;
            margin-top: 10px;
            i {
                font-size: 2em;
            }
            .devicon-bitbucket-plain {
                color: #007acc;
            }
        }
        .tooltiptext {
            margin-right: 0;
            margin-left: -12px;
        }
    }
}
.custom-tooltip {
    position: relative;
    display: inline-block;
    // border-bottom: 1px dotted black;
  }
  
  .custom-tooltip .tooltiptext {

    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: -100%;
    // margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .custom-tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .custom-tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
@media screen and (max-width:767px) {
    #table-content {
        .col-sm-12 {
            span {
                margin-right: 15px;
                margin-left: 0;
            }
        }
    }
}