.row#contact-me-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;;
    // background-color: #d4e4e4;
    background-image: linear-gradient(to bottom, #e6f3f3, #b3d8d8);
    .wall-art {
        text-align: center;
        img {
            height: 15em;
            animation: slideLeft 2s ease-in-out forwards;
        }
    }
    @keyframes slideLeft{
        0% {
        transform: translateX(-100px);
        }
        100% {
        transform: translateX(0px);
        }
    }
    
    .col-md-6 {
        padding: 20px;
        .ng-dirty.ng-invalid:not(form)  {
            border: 1px solid #a94442;
        }
        .error-message {
            padding-top: 10px;
            color: red;
            display: flex;
            svg {
                margin-top: 4px;
                margin-right: 4px;
            }
            p {
                margin-bottom: 0;
            }
        }
        button.btn-success  {
            margin-top: 40px;
            background-color: #28a2c1;
            border-color: #28a2c1;
            &:hover {
                opacity: 0.5;
            }
        }
    } 
 @media screen and (max-width: 767px) {
    .wall-art {
        display: none;
    }
 }  
}