hr {
    // border-color: #22c0e8;
}
h3 {
    padding-top: 20px;
}
.portfolio-container {
    min-height: 350px;
}
#portfolio-wrapper {
    margin: 0 !important;
    padding: 20px 20px 0 20px;
    height: auto;
    justify-content: center;
    display: flex;
    .portfolio-item {
        box-shadow: -2px 2px 11px 2px #22c0e8;
        border: 1px solid #22c0e8;
        border-radius: 2%;
        color: #28a2c1;
        height: 50%;
        margin-right: 50px;
        padding: 40px;
        text-align: center;
        &:hover {
            color: white;
            background-color: #28a2c1;
            box-shadow: none;
            border: none;
            .btn {
                color: #28a2c1;
                background-color: white;
                border-color: #28a2c1;
            }
        }
    }
    .btn {
        color: white;
        background-color: #28a2c1;;
        border-color: #28a2c1;
        margin-right: 15px;
        &:hover {
            color: #28a2c1;
            background-color: white;
            border-color: #28a2c1;
        }
    }
    @media screen and (max-width: 767px) {
        .portfolio-item {
            margin-right: 0;
            margin-bottom: 50px;
        }
        .btn {
            margin-bottom: 15px;
        }
    }
}