<div class="portfolio-container">
<div class="col-sm-12">
    <h3 class="sub-title">Portfolio</h3>
    <hr>
</div>
<div class="row" id="portfolio-wrapper">
    <div class="col-sm-12 col-md-3 portfolio-item">
        <h4>Build a Bot</h4>
        <a class="btn btn-outline-primary" href="https://cassandrehenriquez-build-a-bot.netlify.app">Live site</a>
        <a class="btn btn-outline-primary" href="https://github.com/cassandreh1/build-a-bot">Git hub</a>
    </div>
    <div class="col-sm-12 col-md-3 portfolio-item">
        <h4>Tic Tac Toe</h4>
        <a class="btn btn-outline-primary" href="javascript:void(0)">TBD</a>
        <a class="btn btn-outline-primary"href="javascript:void(0)">TBD</a>
    </div>
    <div class="col-sm-12 col-md-3 portfolio-item">
        <h4>Coming Soon</h4>
        <a class="btn btn-outline-primary" href="javascript:void(0)">TBD</a>
        <a class="btn btn-outline-primary" href="javascript:void(0)">TBD</a>
    </div>
</div>
</div>