hr {
    border-color: #22c0e8;
}
h3 {
    padding-top: 20px;
}
#portfolio-wrapper {
    margin: 0 !important;
    padding: 20px 20px 50px 20px;
    height: auto;
    justify-content: center;
    display: flex;
    .portfolio-item {
        border: 1px solid #22c0e8;
        border-radius: 2%;
        color: #28a2c1;
        height: 50%;
        margin-right: 50px;
        padding: 40px;
        text-align: center;
        &:hover {
            box-shadow: none;
            background-color: black;
            border: none;
            .btn {
                color: #28a2c1;
                background-color: black;
                border-color: #28a2c1;
            }
        }
    }
    .btn {
        color: #28a2c1;
        background-color: white;
        border-color: #28a2c1;
        margin-right: 20px;
        &:hover {
            color: #28a2c1;
            background-color: black;
            border-color: #28a2c1;
        }
    }
    @media screen and (max-width: 767px) {
        .portfolio-item{
            margin-right: 0;
            margin-bottom: 50px;
        }
    }
}