#home-title {
    font-family: FreeMono,sans-serif;
    //color: white;
    text-align: center;
    margin-top: 15%;
}
#main-content {
    min-height: 300px;
}
.loading-spinner{
    position: absolute;
    z-index: 2;
    height: 33%;
    width: 100%;
    background-color: rgba(255,255,255, 0.8);
    text-align: center;
    padding-top: 115px;
    color: #28a2c1;
    svg {
        height: 37px !important;
        width: 50px !important;
    }
}
footer div.col-sm-12 {
    height: 100px;
    padding: 20px;
    line-height: 4;
    text-align: center;
    background-color: black;
    font-family: 'Clip', Arial, sans-serif;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
}
#scroll-to-top {
    position: fixed;
    bottom: 75px;
    right: 20px;
    z-index: 99;
    color: white;
    padding: 10px;
    background-color: #ff65bd;
    border-radius: 10px;
    box-shadow: 0 0 0.6rem #ffe6ff, 0 0 1rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd;
}
@media screen and (min-width: 992px) {
    #scroll-to-top {
        display: none;
    }
}