#home-title {
    font-family: FreeMono,sans-serif;
    //color: white;
    text-align: center;
    margin-top: 15%;
}
footer div.col-sm-12 {
    height: 100px;
    padding: 20px;
    line-height: 4;
    text-align: center;
    background-color: #d4e4e4;
}