.sub-title {
    color: #22c0e8;
    line-height: 2;
}
hr {
    border-color: #22c0e8;
}
#resume-pdf {
    h5 {
        display: inline-block;
    }
    .btn-danger {
        margin-top: 20px;
    }
    a {
        float: right;
    }
}
#eduction-styling {
    // background-image: linear-gradient(to bottom, white, #e6f3f3);
    // background-color: #f2f2f2;
    .bi-book-half {
        padding-top: 0;
    }
    img {
        height: 1em;
        width: 1.5em;
        margin-right: 5px ;
    }
    p {
        margin-bottom: 5px;
        
    }
}
#work-history {
    // background-color: #e6f3f3;
    background-image: linear-gradient(to bottom, white, #e6f3f3);
}
ul.timeline {
    list-style-type: circle;
    margin-left: 10px;
    &:last-child {
        margin-bottom: 0;
    }
    &:before {
        content: ' ';
        background: #d4d9df;
        display: inline-block;
        position: absolute;
        left: 28px;
        width: 2px;
        height: 100%;
        z-index: 400;
    }
    h5 {
        margin: 0;
        padding-top: 15px;
        &:before {
            content: ' ';
            background: white;
            display: inline-block;
            position: absolute;
            border-radius: 50%;
            border: 3px solid #22c0e8;
            left: 20px;
            width: 20px;
            height: 20px;
            z-index: 400;
        }
    }
    h6 {
        border-bottom: 1px solid #22c0e8;
    }
}
.date-range {
    font-size: small;
}
.resume-content {
    padding-left: 0;
}
.padding-top-0 {
    padding-top: 0;
}