<div class="row no-gutters" id="eduction-styling">
    <div class="col-sm-12">
        <h5 class="sub-title">
            <svg class="bi bi-book-half" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M12.786 1.072C11.188.752 9.084.71 7.646 2.146A.5.5 0 0 0 7.5 2.5v11a.5.5 0 0 0 .854.354c.843-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.276-.447L15.5 2.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 0 0-.799-.34 12.96 12.96 0 0 0-2.073-.609zM15 2.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.387-.023-3.426.56V2.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0 1 15 2.82z"/>
                <path fill-rule="evenodd" d="M3.214 1.072C4.813.752 6.916.71 8.354 2.146A.5.5 0 0 1 8.5 2.5v11a.5.5 0 0 1-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 0 1 0 13.5v-11a.5.5 0 0 1 .276-.447L.5 2.5l-.224-.447.002-.001.004-.002.013-.006a5.017 5.017 0 0 1 .22-.103 12.958 12.958 0 0 1 2.7-.869z"/>
            </svg>
          EDUCATION</h5>
        <hr>
    </div>
    <div class="col-sm-12">
        <p><img src="../../assets/owlhead-logo.png" alt="FAU owl head logo"><strong>Florida Atlantic University </strong>, Boca Raton, FL</p>
        <p style="margin-left: 1.8em"><strong>Bachelor of Science in Computer Science </strong>, May 2016</p>
    </div>
</div>
<div class="row no-gutters">
    <div class="col-sm-12">
        <h5 class="sub-title">
            <svg class="bi bi-briefcase-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z"/>
            <path fill-rule="evenodd" d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5v1.384l-7.614 2.03a1.5 1.5 0 0 1-.772 0L0 5.884V4.5zm5-2A1.5 1.5 0 0 1 6.5 1h3A1.5 1.5 0 0 1 11 2.5V3h-1v-.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5V3H5v-.5z"/>
          </svg>
          EMPLOYMENT HISTORY</h5>
        <hr>
    </div>
    <div class="col-sm-12">
        <ul class="timeline">
            <h5 >Software Engineer II at Bank of America</h5>
            <p class="date-range">Nov 2017 - Present</p>
            <li>Overview: Work on the Online Banking application under the transfer and payments pages. </li>
            <li>Experienced with navigating large Git repositories and resolving conflicts.</li>
            <li>Participate in feature grooming, code reviews, training sessions, and interviews</li>
        </ul>
    </div>
    <div class="col-sm-12 ">
        <ul class="timeline">
            <h5>Senior Associate Web Developer at Synechron</h5>
            <p class="date-range"> Feb 2017 - Oct 2018</p>
            <h6 class="sub-title">> Client: Project 2- Wells Fargo (Front-end Developer/Business Analysis)</h6>
            <li>Overview: Web application rewrite from an Ruby on Rails to Angular 5 and Java.</li>
            <li>Assumed the role of a BA in order to gather information and understand business requirements. This includes part taking in meetings covering user stories; 
                generating requirement analysis documentation and technical detailing documentation, containing activity, sequence and class diagrams.</li>
            <li>Following agile methodology with sprint periods lasting two weeks.</li>
            <li>Currently working on development phase implementing frond-end functionalities and UI using Angular 5, Boostrap 4 and creating unit test cases accordingly using Jasmine</li>
            <br>
            <h6 class="sub-title">> Client:  Project 1- Wells Fargo (Front-end Developer)</h6>
            <li>Collaborated with team mates in Technical Design Documentation according to business requirements.</li>
            <li>Implemented and follow MVC design patterns in order to create clean reusable code, using RIA(JS) and JSP; captured data from the backend using AJAX calls.</li>
            <li>Optimized and restructured written code, using HTML5 (JSP) and JavaScript (RIA), in other to create unit test cases, using Mocha.js, Chai.js and Sinon.js.</li>
            <li>Utilized GitHub/GitHub Desktop as version control tools; collaborated with QA team for reported defects and provided fixes accordingly.</li> 
            <br>
            <h6 class="sub-title">> Training</h6>
            <li>2 weeks of advance Synechron training on JavaScript, TypeScript, Node.js and Angular (Ng 4).</li>
            <li>5 weeks + of training covering technologies such as Java SE, HTML5, CSS3, JavaScript, Angular.js, Angular 2 and Node.js</li>
            <li>
                <ul>
                    <li>Worked in a team project consisting of a HelpDesk web application. Implemented user login validation, graphical charts and CRUD (Create, Read, Update, Delete) 
                        functionalities for HelpDesk ticketing system. Technologies used were Angular.js, Charts.js, HTML5, CSS and Bootstrap.</li>
                    <li><a class="btn btn-outline-primary btn-sm" href="https://github.com/chenriq5/HelpDesk"><svg class="bi bi-code-slash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0zm-.999-3.124a.5.5 0 0 1 .33.625l-4 13a.5.5 0 0 1-.955-.294l4-13a.5.5 0 0 1 .625-.33z"/>
                      </svg>View code</a></li>
                </ul>
            </li>
            <li>Assist in an in house Synechron project developing a web application. Technologies used were HTML5, jQuery, Wordpress, Wordpress PHP.</li>
        </ul>
    </div>
    <div class="col-sm-12  timeline">
        <ul class="timeline">
            <h5>Web Developer Intern at Synechron</h5>
            <p class="date-range"> Jun 2016 - Aug 2016</p>
            <li>Design a single page application in which displays book details from the database to the user. Implemented CRUD (Create, Read, Update, Delete) 
                functionalities for the front-end and back-end.</li>
            <li> <a class="btn btn-outline-primary btn-sm" href="https://github.com/chenriq5/books_angular "><svg class="bi bi-code-slash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0zm-.999-3.124a.5.5 0 0 1 .33.625l-4 13a.5.5 0 0 1-.955-.294l4-13a.5.5 0 0 1 .625-.33z"/>
              </svg>View code</a></li>
        </ul>
    </div>
    <div class="col-sm-12">
        <!-- <h3>Academic Projects</h3> -->
    </div>
</div>
<app-technical-skills></app-technical-skills>