.content-style {
    background-color: #f2f2f2;
    padding: 15px 0
}
#eduction-styling {
    background-color: #ecf1f1;
    .bi-book-half {
        padding-top: 0;
    }
    img {
        height: 1em;
        width: 1.5em;
        margin-right: 5px ;
    }
    p {
        margin-bottom: 5px;
        
    }
}
ul.timeline {
    list-style-type: circle;
    margin-left: 10px;
    &:before {
        content: ' ';
        background: #d4d9df;
        display: inline-block;
        position: absolute;
        left: 19px;
        width: 2px;
        height: 100%;
        z-index: 400;
    }
    h5 {
        margin: 0;
        &:before {
            content: ' ';
            background: white;
            display: inline-block;
            position: absolute;
            border-radius: 50%;
            border: 3px solid #22c0e8;
            left: 10px;
            width: 20px;
            height: 20px;
            z-index: 400;
        }
    }
    h6 {
        border-bottom: 1px solid #22c0e8;
    }
}
.date-range {
    font-size: small;
}
.resume-content {
    padding-left: 0;
}