// @import "../node_modules/bootstrap/scss/bootstrap.scss"; 
/* You can add global styles to this file, and also import other style files */
.container {
    padding-top: 20px;
    padding-bottom: 20px;
}
.sub-title {
    padding-top: 20px;
    color: #ff65bd;
    letter-spacing: 1px;
    font-weight: 300;
}
hr {
    border-top-width: 3px;
    border-color: #ff65bd;
}
.margin-bottom-5 {
    margin-bottom: 5px;
}
.devicon-vuejs-plain-wordmark,
.devicon-github-plain,
.devicon-atom-original {
    color: white;
}
@font-face {
    font-family: 'Clip';
   src: url('Clip.ttf');
}