#about-me-title {
  // padding-left: 15px;
  // padding-right: 15px;
}
.content-stye {
    color: slategray;
    padding: 0;
    // background-image: linear-gradient(to bottom, white, #e6f3f3);
    .content-container {
        p {
          margin-bottom: 10px;
        }
        padding: 10px;
        #signature {
            font-family: cursive;
            font-size: 20px;
        }
        @media screen and (max-width: 767px) {
          #signature {
              font-size: 25px;
          }
       }  
    }
    #photo-container {
        position: relative;
        padding: 20px 20px 30px 25px;
        text-align: center;
        img {
            width: 100%;
            box-shadow: -2px 2px 20px 7px #22c0e8;
        }
    }
    hr {
        margin-bottom: 2rem;
        animation: slideLeft 2s ease-in-out forwards;

    }
}
#checkResume {
  background-color: #e6f3f3;
  text-align: center;
  a {
    // color: #ff65bd;
    font-weight: bold;
    // text-shadow: 0 0 0.6rem #ffe6ff, 0 0 0.8rem #ff65bd;
  }

}
  @keyframes slideLeft {
    0% {
      width: 0%;
    }
    50% {
      width: 50%;
    }
    100% {
      width: 100%
    }
  }
@media screen and (max-width: 767px) {
  .content-stye #photo-container {
    padding-top: 0;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 767px) and (max-width: 991px){
 .content-stye #photo-container {
    img {
      width: 450px;
      height: 300px;
    }
  }
}
