.content-stye {
    color: slategray;
    padding: 0;
    .content-container {
        // font-family: "";
        padding: 30px 30px;
        background-color: #f2f2f2;
        // animation: slideLeft 2s ease-in-out forwards;
        #signature {
            font-family: cursive;
        }
        
    }
    #photo-container {
        padding: 30px 10px;
        text-align: center;
        img {
            margin-top: 10px;
            height: 32em;
            width: 26em;
            box-shadow: -2px 2px 20px 5px #22c0e8;
        }
        // animation: slideRight 2s ease-in-out forwards;
    }
    hr {
        border-color: #22c0e8;
        margin-bottom: 2rem;
    }
}

@keyframes slideRight{
    0% {
      transform: translateX(-30px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  @keyframes slideLeft {
    0% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0px);
    }
  }

// .title {
//     font-family: FreeMono,sans-serif;
//     text-align: center;
//     margin-top: 15%;
// }
