<div class="row content-stye">
  <div class="col-xs-12 col-md-2">
    <h3 class="title" id="section-title ">About me</h3>
  </div>
  <div class="col-xs-12 col-md-10 content-text">
      <p>&nbsp;&nbsp;Hello world! My name is Cassandre Henriquez a Haitian-American millennial woman. 
        I was born in Brooklyn, NY on August 16th 1992. At the age of 4 my family and I moved to Port-au-Prince, 
        Ayiti(Haiti). I grew in Haiti and traveled to the states during summer  vacations. While living in Haiti I 
        attended American schools. First one was New American School (Bulldogs), then Union School( Panthers). 
        After the devastating January 12th 2010 Haiti Earthquake, never forget! I moved to Wellington, Palm Beach, 
        FL(Welly hood) in the middle of my junior year of high school at the age of 17. After high school I attended a 
        community college called Palm beach state college. Once I received my AA degree I transferred to Florida 
        Atlantic University and declared my major and earn my bachelors degree in Computer Science. 
        <br><br> &nbsp; &nbsp;Honestly at first 
        I was not sure this was my thing, it wasn’t until I took a course on web development that I found my niche. 
        I love the UI aspect and bring a website/ web app to life. I enjoy seeing creative websites that push my CSS 
        skills. Without saying my current role is a front- end developer contractor for Wells Fargo. No worries guys 
        I’ve created a page for my resume , please refer to it if your curious about my work experience. 

        <br><br> &nbsp; &nbsp;Now on to the purpose of the website. I decided to create a website basically to build on my MEAN 
        stack skill sets. Because I work for Wells a lot of actual code and work is not available for the public 
        eye. It’s ok because this is where I get to show you all my hard work and it’s all on my terms. 
        Now keep it mind this is my personal project so the terms are set by me. Hope I can inspire someone 
        out there while still figuring out who I am. </p>
  </div>
</div>  
